.main {
    padding: 20px 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 180px;
}
.main__intro {
    display: flex;
    height: 100dvh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 240px;
}
.main__intro_box {
    display: grid;
    gap: 20px;
}
.main__intro_name{
    font-size: 3.2rem;
    line-height: 3.2rem;
    width: 100%;
}
.main__intro_nameTwo {
    color: var(--principal-color);
}
.main__intro_image {
    justify-self: end;
    object-fit: cover;
    min-width: 217px;
    max-width:340px;
    min-height: 270px;
    max-height: 423px;
}
.main__intro_presentation {
    font-size: 1.6rem;
    line-height: 150%;
    width: 100%;
    min-width: 300px;
    max-width: 340px;
}
.main__intro_scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: calc(50% - 16px);
    bottom: -380px;
}
.main__intro_scroll_title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.main__intro_scroll_bar {
    width: 4px;
    height: 100px;
    background-color: var(--principal-color);
}

.main__about {
    display: grid;
    gap: 40px;
    margin-top: 75px;
}
.main__about_title {
    font-size: 3.2rem;
    line-height: 150%;
    width: 230px;
    height: 150px;
    text-align: right;
    justify-self: end;
    margin-right: 20px;
}
.main__about_titleTwo {
    color: var(--principal-color);
}
.main__paraghrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
    position: relative;
}
.main__paraghrap_title {
    font-size: 2rem;
    line-height: 150%;
}
.main__paraghrap_content {
    font-size: 1.6rem;
    line-height: 150%;
}
.main__about_constellation {
    margin-right: 90px;
    width: auto;
    height: auto;
    transform: rotate(26deg);
    gap: 20px;
}
.display__view {
    display: flex;
    position: absolute;
    top: 60%;
    right: -22%;
}
.display__view_two {
    display: none;
}
.main__about_points {
    margin-top: 120px;
    margin-left: 14px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__about_points_title {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 800;
}
.main__about_points_list {
    list-style: none;
    display: grid;
    gap: 12px;
}
.main__about_points_list > li {
    font-size: 1.6rem;
    line-height: 150%;
}
.main__about_planet {
    justify-self: end;
    transform: translate(-40px, -65px);
    z-index: -1;
}
.main__exploration {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -80px;
}
.main__exploration_title {
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
}
.main__exploration_title > span {
    color: var(--principal-color);
}
.main__exploration_cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;
}
.main__exploration_cta_background {
    position: absolute;
    width: 100%;
    max-width: 580px;
    height: 300px;
    z-index: -1;
}
.main__exploration_cta > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.8rem;
    background-color: var(--principal-color);
    height: 44px;
    width: 131px;
}
.main__details {
    display: grid;
    gap: 40px;
    margin-bottom: 80px;
}
.main__details_head {
    font-size: 3.2rem;
    line-height: 4.4rem;
}
.main__details_head > span {
    color: var(--principal-color);
}
.details__block_one {
    margin-left: 20px;
}
.details__block_two {
    justify-self: end;
}
.details__block_tree{
    margin-right: 40px;
    text-align: end;
}
.main__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    align-self: center;
    justify-self: center;
}
.main__logo_center{
    width: 90px;
    height: 120px;
}
.main__more_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.main__more_text {
    font-size: 2rem;
    line-height: 150%;
}
.main__more_text > span {
    color: var(--principal-color);
}
.main__more_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.main__more_list > li {
    font-size: 1.6rem;
    line-height: 150%;
}
.main__more_list > li > a {
    text-decoration: none;
    color: var(--black-color);
}
.main__more_list > li > a:hover {
    text-decoration: underline;
    color: var(--principal-color);
}
.info__block_two {
    justify-self: end;
    width: 310px;
}
.info__block_text {
    text-align: right;
}
.info__block_two > ul > li{
   text-align: right;
}
/****440px****/
@media (min-width: 440px) {
    .main__about_constellation{
        right: -50%;
    }
}
/****580px****/
@media (min-width: 580px) {
    .main__about_constellation{
        right: -80%;
    }
    .main__box {
        align-self: center;
    }
    .main__about, .main__details {
        width: 500px;
        align-self: center;
    }
}
/****900px****/
@media (min-width: 900px) {
    .main__about_constellation {
        transform: rotate(325deg);
        top: 20%;
        right: -110%;
    }
    .main__about_planet {
        transform: translate(-480px, 85px);
        z-index: 0;
    }
}
/****Desktop****/
@media (min-width: 1218px) {
    .display__view_two {
        display: flex;
    }
    .display__view {
        display: none;
    }
    .main {
        padding: 40px;
        align-items: center;
    }
    .main__intro {
        margin-bottom: 0px;
        padding: 40px;
    }
    .main__intro_box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px;
    height: 100dvh;
    max-height: 680px;
}
.main__intro_name{
    max-width: 200px;
    font-size: 5.2rem;
    line-height: 7rem;
    align-self: end;
    grid-row: 1;
    grid-column: 1;
    text-align: right;
}
.main__intro_image {
    grid-row: 1 / 3;
    grid-column: 2;
    align-self: start;
    width: 340px;
    height: 423px;
}
.main__intro_presentation {
    grid-row: 2;
    grid-column: 3;
    text-align: end;
    justify-self: end;
    height: 110px;
}
.main__intro_scroll {
    align-self: end;
    justify-self: end;
    grid-column: 1;
    grid-row: 1 / 3;
    position: initial;
}
.main__box {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main__about {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 0px;
    height: 800px;
    width: 1200px;
    justify-self: center;
    gap: 20px;
}
.main__about_title {
    width: 400px;
    align-self: start;
    font-size: 5.2rem;
    justify-self: center;
    grid-row: 1;
    grid-column: 2 / 4;
}
.main__paraghrap_title {
    font-size: 2.2rem;
}
.main__about_points {
    font-size: 1.8rem;
}
.main__about_points_list > li {
    font-size: 1.8rem;
}
.main__about_box {
    height: fit-content;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
}
.main__about_points {
    grid-row: 2 / 4;
    grid-column: 3;
    align-self: center;
    margin-top: 0;
}
.main__about_constellation {
    align-self: center;
    margin-right: 0;
    height: fit-content;
    width: fit-content;
    transform: rotate(0deg);
    grid-column: 1;
    grid-row: 1 / 3;
}
.main__about_planet {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    transform: translate(-80px, 190px);
    z-index: 0;
}
.main__exploration {
    align-items: center;
    height: 580px;
    width: 100%;
    max-width: 1100px;
    flex-direction: row;
}
.main__exploration_title {
    line-height: 7rem;
    font-size: 5.2rem;
    text-align: left;
    width: 50%;
}
.main__exploration_cta {
    height: 235px;
    width: 70%;
}
.main__exploration_cta > a {
    margin-left: 120px;
    font-size: 2.2rem;
    height: 56px;
    width: 156px;
}
.main__details {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1200px;
    height: 880px;
}
.main__details_head {
    font-size: 5.2rem;
    line-height: 7rem;
}
.details__block_two {
    align-self: center;
}
.details__block_tree {
    justify-self: end;
    align-self: end;
}
.details__block_four {
    justify-self: center;
    align-self: end;
    grid-row: 2;
    grid-column: 3;
}
.main__logo {
    grid-row: 2;
    grid-column: 2;
}
.main__more_info {
    font-size: 2.2rem;
}
.main__more_list {
    gap: 12px;
}
.info__block_one {
    grid-row: 3;
    grid-column: 1;
}
.info__block_two {
    grid-row:3;
    grid-column: 2;
    align-self: end;
    height: fit-content;
}
.info__block_text {
    text-align: start;
}
.info__block_two > ul > li{
   text-align: left;
}

}

