:root {
    --black-color: #212524;
    --icon-color: #3E392D;
    --white-color: #F3F2F2;
    --principal-color: #408950;
    --constellation: #161F38;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--white-color);
  color: var(--black-color);
}
