@media screen and (prefers-reduced-motion: no-preference){
  
  .size {
  height: 250px;
  width: 200px;
  animation: rotate cubic-bezier(0.64, 0.31, 0.83, 0.95) 60s infinite alternate-reverse;
}
    .radiance {
        animation: radiance cubic-bezier(0.64, 0.31, 0.83, 0.95) 8200ms infinite;
      }
      .way {
        animation: way linear 10000ms infinite;
      }
      .delay {
        animation-delay: 1800ms;
      }
      .delay_two {
        animation-delay: 3000ms;
      }
      
      @keyframes way {
        from {
          height: 0;
        }
        90%{
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      
      @keyframes radiance { 
      to {
        r: 15;
        opacity: 0
      }
    }
    @keyframes rotate { 
      from {
        transform: rotate(0);
      }
      100% {
        transform: rotate(25deg);
      }
    }
    
    }
@media (min-width: 900px) {
  .size {
    width: 320px;
    height: 410px;
  }
}