.mini__project_box {
    display: grid;
    gap: 20px;
}
.mini__project {
    width: 100%;
    max-width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.mini__project_image {
    width: 340px;
    height: 207px;
    margin-bottom: 12px;
}
.mini__project_date {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.mini__project_title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--black-color);
}
.mini__project_title:hover {
    color: var(--principal-color);
}
@media (min-width: 900px) {
    .mini__project_box {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    .mini__project_image {
        width: 230px;
        height: 140px;
    }
}