.none{
    display: none;
}
.flex{
    display: flex;
}
.header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 20px 16px;
    z-index: 1;
}
.header nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav_top {
    top: 0%;
}
.header__nav_bottom {
    bottom: 0%;
}
.header__nav_top_vector {
    width: 25px;
    height: 34px;
}
.header__nav_top_sayhi {
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    min-width: 75px;
    height: 40px;
    text-decoration: none;
    color: var(--black-color);
    transition: all 400ms ease-in;
}
.header__nav_top_sayhi:hover {
        background-color: var(--principal-color);
        color: var(--white-color);
}
.header__nav_bottom_container_links{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    transition: all 400ms ease-in;
}
.header__nav_bottom_container_links:hover {
    color: var(--principal-color);
}
@media (min-width: 1218px) {
    .header nav  {
        padding: 20px 40px;
    }
    .none{
        display: flex;
    }
    .flex{
        display: none;
    }
    .header__nav_top_social {
        position: absolute;
        top: calc(50dvh - 107px);
        right: 40px;
    }

}
