.none{
    display: none;
}
.flex{
    display: flex;
}
.header nav {
    width: 100%;
    height: 80px;
    background-color: var(--white-color);
    position: fixed;
    padding: 20px 16px;
}
.header nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav_top {
    top: 0%;
}
.header__nav_bottom {
    bottom: 0%;
}
.header__nav_top_vector {
    width: 25px;
    height: 34px;
}
.header__nav_top_sayhi {
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    min-width: 75px;
    height: 40px;
    text-decoration: none;
    color: var(--black-color);
    transition: all 400ms ease-in;
}
.header__nav_top_sayhi:hover {
        background-color: var(--principal-color);
        color: var(--white-color);
}
.header__nav_top_socialButton {
    display:flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 42px;
    height: 42px;
    background-color: unset;
    transition: all 400ms ease-in;
}
.header__nav_bottom_container_links{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    transition: all 400ms ease-in;
}
.header__nav_bottom_container_links:hover {
    color: var(--principal-color);
}


